 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.inner-container {
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar {
    background-color: darkolivegreen;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.auth {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth a {
    color: white;
    text-decoration: underline;
}

.auth button {
    background-color: white;
    border: none;
    padding: 6px 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.auth button a {
    text-decoration: none;
    color: #e64415;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-top: 1px solid #eee;
}

.main-nav {
    overflow-x: auto;
    flex: 1;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
    white-space: nowrap;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.scroll-arrow,
.search-btn {
    font-size: 18px;
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

.news {
    display: flex;
    background-color: white;
    border-top: 1px solid #ccc;
    gap: 20px;
    flex-wrap: wrap;
}

.news article {
    flex: 1 1 300px;
    padding: 0 15px;
    min-width: 250px;
}

.news article strong {
    font-size: 17px;
    display: block;
    font-weight: bold;
}

.news .plus {
    color: #411207;
    font-size: 16px;
    margin-right: 6px;
}

.news article a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time {
    display: block;
    color: #000000;
    font-size: 13px;
}

.separator {
    width: 1px;
    height: 20%;
    background-color: #ccc;
    margin: 0 2px;
}

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .main-nav ul {
        flex-wrap: wrap;
    }

    .news {
        display: flex;
        padding: 15px 25px;
        background-color: white;
        border-top: 1px solid #ccc;
        align-items: center;
    }

    .news article {
        flex: 1;
        padding: 0 15px;
        min-width: 0;
    }

    .separator {
        width: 1px;
        height: 20%;
        background-color: #ccc;
        margin: 0 2px;
    }

    .news article strong {
        font-size: 17px;
        display: block;
        font-weight: bold;
    }

    .news .plus {
        color: #8C290D;
        font-size: 16px;
        margin-right: 6px;
    }

    .time {
        display: inline-block;
        color: #333;
        font-size: 13px;
        margin-top: 5px;
    }
}

/* --- bloc 1--- */

.feature-article {
    max-width: 950px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.feature-article .category {
    color: #87270D;
    font-weight: bold;
    font-size: 14px;
}

.feature-article h2 {
    font-size: 28px;
    margin: 10px 0;
}

.feature-article .plus {
    background-color: #91290D;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 6px;
    margin-right: 8px;
    vertical-align: middle;
}

.feature-img img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    display: block;
}

.feature-article p {
    font-size: 16px;
    line-height: 1.5;
    color: #66210B;
}

.feature-article .author {
    color: #333;
    font-size: 14px;
    margin-left: 5px;
}

.feature-article .meta {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #888;
    font-size: 14px;
}

.feature-article .meta i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .feature-article {
        flex-direction: column;
    }

    .feature-img {
        width: 100%;
        margin-top: 20px;
    }
}


/* bloco faha 2*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}


.extra-banner {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.extra-banner .container {
    justify-content: space-between;
    align-items: center;
    color:  #79230B;
}

.extra-link {
    text-decoration: underline;
    color:  #9A2D0E;
    font-size: 14px;
}

.featured-article {
    background: #caffd3;
    padding: 20px;
    margin-bottom: 30px;
}

.featured-article .article-text {
    flex: 1;
    min-width: 250px;
}

.featured-article .article-image {
    flex: 1;
    min-width: 250px;
}

.featured-article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.featured-article h1 {
    font-size: 26px;
    margin: 10px 0;
}

.featured-article p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.featured-article .author {
    color: #003C66;
    font-size: 15px;
}


.mini-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mini {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    min-width: 280px;
    position: relative;
}

.mini.with-img {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.mini.with-img:not(.reverse)::after {
    content: "";
    position: absolute;
    right: 110px;
    top: 10px;
    bottom: 10px;
    width: 1px;
    border-left: 1px dashed #ccc;
}

.mini.with-img.reverse::after {
    content: "";
    position: absolute;
    right: 100px;
    top: 10px;
    bottom: 10px;
    width: 1px;
    border-left: 1px dashed #ccc;
}

.mini.with-img.reverse {
    flex-direction: row-reverse;
}

.mini img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.label {
    font-size: 11px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
    display: inline-block;
}

.mini h4 {
    font-size: 16px;
    color: #111;
    margin: 6px 0;
}

.mini p {
    font-size: 14px;
    color: #666;
}
@media (max-width: 786px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .extra-banner .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .featured-article {
        flex-direction: column;
    }

    .featured-article .article-text,
    .featured-article .article-image {
        width: 100%;
    }

    .mini-articles {
        flex-direction: column;
        with: 100%
        overflow-x: hidden;
        box-sizing: border-box;
        padding: 0   10px;
    }

    .mini.with-img,
    .mini.with-img.reverse {
        flex-direction: column;
        width: 100%
        box-sizing: border-box;
        text-align: left;
        
    }

    .mini.with-img::after,
    .mini.with-img.reverse::after {
        display: none;
    }

    .mini img {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }
}

.space {
    height: 5px;
}


.page-block {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
/* blocco faha 3 */

.terzo-blocco {
    font-family: Arial, sans-serif;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.top-article {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.top-article img {
    width: 90%;
    object-fit: cover;
}

.top-text {
    width: 60%;
}
.label {
    color: #d40000;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}


.top-text h2 {
    font-size: 24px;
    margin: 0 0 10px;
}

.top-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.time {
    font-size: 12px;
    color: #474747;
}

.dashed {
    border-top: 2px dashed #ccc;
    margin: 30px   0;
}

.middle-articles {
    display: flex;
    align-items: stretch;
}

.article {
    width: 30%;
    padding: 0 10px;
}

.article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.article h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.article p {
    font-size: 14px;
    margin-bottom: 8px;
}

.separator {
    width: 2px;
    background-image: repeating-linear-gradient(
            to bottom,
            #ccc,
            #ccc 5px,
            transparent 5px,
            transparent 10px
    );
    height: auto;
}

.bottom-article {
    text-align: left;
    padding: 20px 0;
}

.bottom-article h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #080808;
}

.bottom-article button {
    background-color: #FF9E7A;
    color: #141414;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.bottom-article button:hover {
    background-color: #080808;
}

 @media (max-width: 420px) {
     .top-article {
         flex-direction: column;
     }

     .top-article img {
         width: 100%;
         height: auto;
     }

     .top-text {
         width: 100%;
     }

     .mini-articles {
         flex-direction: column;
     }

     .mini.with-img,
     .mini.with-img.reverse {
         flex-direction: column;
         text-align: left;
     }

     .mini.with-img::after,
     .mini.with-img.reverse::after {
         display: none;
     }

     .mini img {
         margin-bottom: 10px;
         width: 100%;
         height: auto;
     }
 }
 @media (min-width: 481px) and (max-width: 991px) {
     .mini-articles {
         flex-wrap: wrap;
         gap: 20px;
         justify-content: space-between;
     }

     .mini.with-img,
     .mini.with-img.reverse {
         flex-direction: row;
         width: calc(50% - 10px);
     }

     .mini img {
         width: 100px;
         height: 100px;
     }
 }


 @media (min-width: 992px) {
     .mini-articles {
         flex-wrap: wrap;
         gap: 20px;
     }

     .mini.with-img,
     .mini.with-img.reverse {
         flex-direction: row;
         width: calc(33.333% - 14px);
     }

     .mini img {
         width: 100px;
         height: 100px;
     }
 }



.page-block {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

body {
    background-color: #f2f1ef;
}

.daily-topics {
    background: white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    position: relative;
}

.daily-topics::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #e3430a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.daily-topics h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}
@media (max-width: 768px) {
    .daily-topics {
        padding: 15px 10px;
    }

    .daily-topics h2 {
        font-size: 20px;
        text-align: center;
    }
}
/* blocco faha 4*/

.page-block {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 4px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.morning-situation {
    background: white;
    padding: 20px;
    margin-top: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.top-line {
    margin-bottom: 8px;
}

.label {
    color: #d40000;
    font-size: 14px;
    font-weight: bold;
}

.title-and-image {
    display: flex;
    align-items: center;
    gap: 10px;

}

.title-and-image h2 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: black;
    margin: 0;
    padding-right: 10px;

}

.author-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.author {
    color: #4F4F4F;
    font-size: 14px;
    margin-bottom: 10px;
}

.description {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer {
    font-size: 14px;
    color: #474747;
}
@media (max-width: 768px) {
    .title-and-image {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .title-and-image h2 {
        font-size: 20px;
        padding-right: 0;
        text-align: left;
    }

    .author-image img {
        width: 60px;
        height: 60px;
    }

    .description {
        font-size: 15px;
    }

    .footer {
        font-size: 13px;
    }
}


/* blocco faha 5 */
.news-card {
    display: flex;
    align-items: center;
    gap: 24px;
}

.news-text {
    flex: 1;
    color: #942A0A;
}

.news-image {
    flex-shrink: 0;
}

.news-image img {
    width: 200px;
    height: auto;
    display: block;
    border-radius: 4px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .news-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .news-image img {
        width: 100%;
        max-width: 100%;
    }
}



/* bloco faha 6 */

.games-card {
    display: flex;
    align-items: center;
    background-color: #eef7fb;
    border: 10px solid #eee;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.games-text {
    flex: 1;
}

.games-title {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    margin-bottom: 16px;
}

.games-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 24px;
    line-height: 1.5;
}

.games-button {
    display: inline-block;
    background-color: #962708;
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.games-button:hover {
    background-color: #c2320A;
}

.games-image {
    flex-shrink: 0;
}

.games-image img {
    width: 450px;
    height: auto;
    border-radius: 4px;
}

/* blocco faha 7 */

.news-block {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    gap: 20px;
}

.news-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-row h2 {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.author-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.author-name {
    font-size: 14px;
    color: #4D4D4D;
    margin-top: 8px;
}

.news-text p {
    margin-top: 16px;
    font-size: 16px;
}

.time-icon {
    margin-top: 12px;
    font-size: 14px;
    color: #424242;
}

.news-image img {
    width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* bloc faha 8 */
.storie-section {
    padding: 20px;
    background-color: #f9f9f9;
}

.section-title {
    color: #f05423;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.card {
    min-width: 250px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    flex-shrink: 0;
}

.card-text {
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 1;
}

.arrow.left {
    left: 5px;
}

.arrow.right {
    right: 5px;
}
@media (max-width: 768px) {

    .games-card,
    .news-block {
        flex-direction: column;
        padding: 16px;
    }

    .games-image img,
    .news-image img {
        width: 100%;
        height: auto;
    }

    .games-image,
    .news-image {
        width: 100%;
    }

    .games-text,
    .news-text {
        width: 100%;
    }

    .title-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .carousel {
        gap: 8px;
        padding-bottom: 10px;
    }

    .card {
        min-width: 200px;
        height: 300px;
    }

    .arrow {
        font-size: 24px;
        width: 30px;
        height: 30px;
    }

    .section-title {
        font-size: 20px;
    }
}


/* --- bloc faha 9--- */

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background: #f7f7f7;

}

.news-card, .news-simple {
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;

}

.news-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;

}

.news-content {
    padding: 10px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.news-category {
    font-size: 14px;
    color: #612800;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.news-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0 0 1px 0;
}

.news-description {
    font-size: 14px;
    color: #333;
    margin-bottom: auto;


}
.news-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .news-grid {
        grid-template-columns: 1fr;
        padding: 15px;
        gap: 15px;
    }

    .news-card,
    .news-simple {
        flex-direction: column;
        align-items: flex-start;
    }

    .news-card img {
        width: 100%;
        height: 180px;
        border-radius: 5px 5px 0 0;
    }

    .news-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}

@media (max-width: 480px) {
    .news-title {
        font-size: 16px;
    }

    .news-description {
        font-size: 13px;
    }

    .news-category {
        font-size: 13px;
    }

    .news-footer {
        font-size: 11px;
    }
}

/* bloc faha 10 */

.matches-container {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 20px;
}

.match {
    text-align: center;
}

.league-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.teams {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.team-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 5px;
}

.team-name {
    font-size: 14px;
    color: #333;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.score-line {
    width: 40px;
    height: 3px;
    background-color: #d6400b;
    margin: 3px 0;
}

.score-result {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
.separator
{
    border-top: 1px dashed #ccc;
    margin: 20px 0;
    padding: 0;
}

@media (max-width: 768px) {
    .matches-container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 20px;
    }

    .match {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    .teams {
        flex-direction: column;
        gap: 10px;
    }

    .score {
        margin: 10px 0;
    }

    .score-line {
        width: 60px;
    }
}

@media (max-width: 480px) {
    .team-logo {
        width: 50px;
        height: 50px;
    }

    .team-name {
        font-size: 13px;
    }

    .score-result {
        font-size: 16px;
    }

    .league-title {
        font-size: 16px;
    }
}

/* bloc faha 11 */

.video-section {
    background: #fff;
    padding: 20px;
    border: 1px solid #eee;
    font-family: Arial, sans-serif;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section-title {
    font-weight: bold;
    color: #d6400b;
}

.view-all {
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

.main-video {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}

.main-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 90%;
    box-sizing: border-box;
}

.video-caption h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.video-caption p {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.video-duration {
    display: inline-block;
    background: #d6400b;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 5px;
}

.small-videos-wrapper {
    margin-bottom: 20px;
}

.small-videos {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.small-video {
    flex: 0 0 32%;
    position: relative;
    overflow: hidden;
    height: 200px;
    scroll-snap-align: start;
}

.small-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.small-caption p {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.small-caption span {
    font-size: 12px;
}

.image-gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image-item {
    flex: 1 1 calc(25% - 10px);
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #424242;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
}


@media (max-width: 991px) {
    .main-video {
        height: 400px;
    }

    .small-video {
        flex: 0 0 45%;
    }

    .image-item {
        flex: 1 1 calc(50% - 10px);
        height: 150px;
    }
}

@media (max-width: 600px) {
    .main-video {
        height: 250px;
    }

    .small-video {
        flex: 0 0 80%;
        height: 150px;
    }

    .video-caption h5 {
        font-size: 16px;
    }

    .video-caption p {
        font-size: 14px;
    }

    .image-item {
        flex: 1 1 100%;
        height: 120px;
    }
}

/* bloco fara 12 */

.quiz-section {
    background: #fff;
    border: 1px solid #eee;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-title {
    font-weight: bold;
    color: #d6400b;
}

.quiz-all {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.quiz-content {
    margin-top: 15px;
    background: #e8edf0;
}

.quiz-banner {
    background: #A3DAFF;
    color: #002E4D;
    padding: 15px;
}

.quiz-banner h2 {
    margin: 0;
    font-size: 24px;
    color: #383838;
    background: #B8E4FF;

}

.quiz-banner p {
    margin: 5px 0 0 0;
    font-size: 18px;
}

.quiz-question {
    padding: 20px;
}

.dotted-line {
    border: none;
    border-top: 2px dotted #999;
    margin: 15px 0;
}

.question-answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.question-text {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.quiz-options button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    transition: background 0.3s;
    width: 250px;
    text-align: center;
}

.quiz-options button:hover {
    background: #f0f0f0;

}

.quiz-games {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.game-item {
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
}

.game-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;

}
@media (max-width: 992px) {
    .quiz-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .quiz-banner h2 {
        font-size: 20px;
    }

    .quiz-banner p {
        font-size: 16px;
    }

    .question-answer {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .quiz-options {
        align-items: stretch;
    }

    .quiz-options button {
        width: 100%;
    }

    .quiz-games {
        flex-wrap: wrap;
        justify-content: center;
    }

    .game-item {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .quiz-banner h2 {
        font-size: 18px;
    }

    .quiz-banner p {
        font-size: 14px;
    }

    .question-text {
        font-size: 16px;
    }

    .quiz-options button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .game-item img {
        width: 30px;
        height: 30px;
    }
}

/* --- bloc fa 13 --- */

.news-grid,
.news-bottom {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 20px;
}

.news-card,
.news-mini {
    display: flex;
    flex-direction: column;
}

.news-card img {
    width: 100%;
    height: auto;
}


.space.vertical {
    border-left: 1px dashed #ccc;
    height: auto;
}

.space.horizontal {
    border-top: 1px dashed #ccc;
    margin: 30px 0;
}


.category {
    color: #291100;
    font-size: 0.85rem;
    margin: 10px 0 5px;
}

.category.red {
    color: #c00;
}

.category.orange {
    color: #421C00;
}

.meta {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #555;
}

.news-mini h4 {
    margin: 5px 0 10px;
}

.news-grid,
.news-bottom {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 20px;
}

.news-card,
.news-mini {
    display: flex;
    flex-direction: column;
}

.news-card img {
    width: 100%;
    height: auto;
}


.space.vertical {
    border-left: 1px dashed #ccc;
    height: auto;
}

.space.horizontal {
    border-top: 1px dashed #ccc;
    margin: 30px 0;
}


.category {
    color: #291100;
    font-size: 0.85rem;
    margin: 10px 0 5px;
}

.category.red {
    color: #c00;
}

.category.orange {
    color: #421C00;
}

.meta {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #555;
}

.news-mini h4 {
    margin: 5px 0 10px;
}


@media (max-width: 1024px) {
    .news-grid,
    .news-bottom {
        grid-template-columns: 1fr 1px 1fr;
    }
}

@media (max-width: 768px) {
    .news-grid,
    .news-bottom {
        grid-template-columns: 1fr;
        gap: 15px;
    }


    .space.vertical {
        display: none;
    }


    .space.horizontal {
        margin: 20px 0;
    }
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-tag {
    color: #571700;
    font-weight: bold;
    font-size: 0.9em;
}

h2, h3 {
    margin: 10px 0;
}

.author, .description, .time {
    font-size: 0.9em;
    margin: 3px 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-image img {
    width: 100%;
    border-radius: 5px;
}

.horizontal-separator {
    margin: 20px 0;
    border: none;
    border-top: 1px dashed #ccc;
    height: auto;
}

.sub-articles {
    display: flex;
    gap: 20px;
}

.sub-article {
    flex: 1;
}

.separator-vertical {
    width: 1px;
    background-color:#ccc;
    border-top: 1px dashed #ccc;

}

.editorialists {
    margin-top: 20px;

}

.editor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;

}

.editor {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #4D0000;
}
/* bloc faha 14 */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

}

.section-header h2 {
    color: #B33000;
    font-weight: bold;
    text-transform: uppercase;
}

.section-header a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 20px;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.main-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tag {
    color: #A32C00;
    font-weight: 500;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.badge {
    background-color: #ffeedb;
    color: #d64527;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.text {
    font-size: 0.95rem;
    color: #333;
}

.author {
    font-size: 0.85rem;
    color: #454545;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #575757;
    margin-top: 8px;
}

.vertical-separator {
    border-left: 1px dotted #bbb;
    margin-top: 8px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.section-header h2 {
    color: #cc3300;
    font-weight: bold;
    text-transform: uppercase;
}

.section-header a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 20px;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.main-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tag {
    color: #8E2D1A;
    font-weight: 500;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.badge {
    background-color: #ffeedb;
    color: #792716;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.text {
    font-size: 0.95rem;
    color: #333;
}

.author {
    font-size: 0.85rem;
    color: #454545;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #610000;
    margin-top: 8px;
}

.vertical-separator {
    border-left: 1px dotted #bbb;
    margin-top: 8px;
}




@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1px 1fr;
    }
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        gap: 16px;
    }


    .vertical-separator {
        display: none;
    }


    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .meta {
        flex-direction: column;
        gap: 4px;
    }
}

/* --- bloco 15--- */


.unified-news-section {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 4px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.unified-grid {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    align-items: start;
    gap: 20px;
}

.unified-card {
    background: white;
    border-radius: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unified-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.unified-tag {
    font-size: 14px;
    color: #391004;
    margin: 0;
    font-weight: bold;
}

.unified-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.unified-desc {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.unified-meta {
    font-size: 12px;
    color: #666;
    margin-top: auto;
}

.unified-separator {
    border-left: 1px dashed #ccc;
    height: 100%;
}

.unified-line {
    border-top: 2px solid #ccc;
    margin: 20px 0;
}


.triple-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.triple-column {
    flex: 1;
    text-align: center;
}

.triple-column img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
}

.triple-text {
    padding: 10px 0;
}


.triple-horizontal {
    border-top: 1px dashed #ccc;
    margin: 10px 0;
}

.triple-vertical-separator {
    width: 2px;
    background-color: #ccc;
    margin: 0 10px;
}

.triple-heading {
    font-size: 16px;
    color: #391004;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.unified-news-section {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 4px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.unified-grid {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    align-items: start;
    gap: 20px;
}

.unified-card {
    background: white;
    border-radius: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unified-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.unified-tag {
    font-size: 14px;
    color: #391004;
    margin: 0;
    font-weight: bold;
}

.unified-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.unified-desc {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.unified-meta {
    font-size: 12px;
    color: #666;
    margin-top: auto;
}

.unified-separator {
    border-left: 1px dashed #ccc;
    height: 100%;
}

.unified-line {
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

.triple-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.triple-column {
    flex: 1;
    text-align: center;
}

.triple-column img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
}

.triple-text {
    padding: 10px 0;
}

.triple-horizontal {
    border-top: 1px dashed #ccc;
    margin: 10px 0;
}

.triple-vertical-separator {
    width: 2px;
    background-color: #ccc;
    margin: 0 10px;
}

.triple-heading {
    font-size: 16px;
    color: #391104;
    font-weight: bold;
    margin: 0 0 10px 0;
}

@media (max-width: 1024px) {
    .unified-grid {
        grid-template-columns: 1fr 1px 1fr;
    }
    .unified-separator:nth-child(2) {
        display: none;
    }
}

@media (max-width: 768px) {
    .unified-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .unified-separator {
        display: none;
    }

    .triple-grid {
        flex-direction: column;
        gap: 16px;
    }

    .triple-column {
        text-align: center;
    }

    .triple-vertical-separator {
        display: none;
    }
}

/* --- bloc faha 16 --- */
.title {
    color: red;
    font-size: 24px;
    text-align: center;

}

.bold-text {
    text-align: center;
    margin-bottom: 20px;
}

.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
}

.small-text {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
}

.reading-time {
    display: block;
    font-size: 14px;
    color: #383838;
    text-align: right;
}

.products-test-section {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.products-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.products-column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    min-width: 250px;
}

.products-vertical-separator {
    width: 2px;
    background: repeating-linear-gradient(
            to bottom,
            #999 0,
            #999 2px,
            transparent 2px,
            transparent 6px
    );
}

.products-subtitle {
    color: #990000;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.products-bold-text {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin: 3px 0;
    text-align: center;
}

.products-author {
    font-size: 13px;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

.products-separator {
    border: none;
    border-top: 2px dotted #999;
    margin: 10px 0;
}

.products-text {
    font-size: 14px;
    color: #333;
    text-align: center;
}

.products-horizontal-separator {
    border: none;
    border-top: 2px dotted #999;
    margin: 30px 0;
}
.products-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.products-row-item {
    flex: 1;
    min-width: 150px;
    text-align: center;
}

.products-box {
    border: 2px solid #A9A9A9;
    border-radius: 10px;
    padding: 10px;
}

.products-bordered-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.products-clickable-text {
    display: block;
    margin-top: 8px;
    color: #000;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
}

.products-scroll-btn {
    padding: 10px 15px;
    font-size: 18px;
    background: #eee;
    border: 2px solid #A9A9A9;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
}

.products-scroll-btn:hover {
    background: #ddd;
}

@media (max-width: 1024px) {
    .products-columns {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .small-text {
        font-size: 14px;
    }

    .reading-time {
        text-align: center;
        font-size: 12px;
    }

    .products-columns {
        flex-direction: column;
        gap: 20px;
    }

    .products-column {
        min-width: 100%;
        padding: 0;
    }

    .products-vertical-separator {
        display: none;
    }

    .products-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .products-row-item {
        flex: 1 1 45%;
        min-width: 120px;
        max-width: 45%;
    }

    .products-box {
        padding: 8px;
    }

    .products-clickable-text {
        font-size: 13px;
    }

    .products-scroll-btn {
        margin: 10px auto 0;
        display: block;
    }
}


/* --- bloc 17 --- */

.new-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.new-header h1 {
    font-size: 24px;
    color: darkred;
}

.new-header a {
    font-size: 14px;
    color: #00346B;
    text-decoration: none;
}

.new-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.new-column {
    flex: 1 1 45%;
    text-align: center;
    padding: 10px;
}

.new-column img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.new-column h2 {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.new-column h3 {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.new-column p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.new-column small {
    font-size: 12px;
    color: #383838;
}

.new-vertical-line {
    width: 2px;
    background: repeating-linear-gradient(
            to bottom,
            #999,
            #999 4px,
            transparent 4px,
            transparent 8px
    );
    align-self: stretch;
    margin: 0 10px;
}
/* --- bloc  faha 18 --- */

.media-section {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.media-section h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: darkred;
}

.podcast-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    overflow-x: auto;
}

.podcast-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.podcast-card {
    background-color: #fafafa;
    border-radius: 18px;
    min-width: 180px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

.podcast-card:hover {
    transform: translateY(-4px);
}

.podcast-card img {
    width: 100%;
    border-radius: 14px;
}

.podcast-title {
    font-weight: bold;
    font-size: 0.95rem;
    margin-top: 10px;
}

.podcast-description {
    font-size: 0.85rem;
    color: #333;
    margin: 5px 0;
}

.podcast-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    font-size: 0.8rem;
    color: #666;
}

.meta-icon {
    background-color: #852300;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.scroll-button {
    flex: 0 0 auto;
    height: 100%;
    padding: 0 12px;
    background-color: #eee;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    align-self: center;
}

/* --- bloc faha 19 --- */
.hero-media {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 4px auto;
    background-color: #fff;
    max-width: 950px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    font-family: Arial, sans-serif;
}

.hero-title {
    color: #d6400b;
    margin-bottom: 15px;
    font-size: 18px;
}


.hero-video-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.hero-video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}


.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    color: #fff;
}

.hero-headline {
    font-size: 22px;
    margin: 0 0 10px;
}

.hero-description {
    font-size: 16px;
    margin-bottom: 8px;
}

.hero-time {
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}


.hero-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-btn {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,0.3);
    transition: background 0.3s;
}

.hero-btn:hover {
    background: rgba(0,0,0,0.6);
    cursor: pointer;
}


@media (max-width: 768px) {
    .hero-buttons {
        justify-content: center;
    }
}

/*---bloc faha 20---*/

.announcement-section {
    padding: 10px;
    background-color: #f5f5f5;
}

.announcement-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.announcement-box {
    flex: 1 1 30%;
    background-color: #f5f5f5;
    padding: 0;
    box-shadow: none;
    text-align: left;
}

.announcement-image-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.announcement-image-wrapper img {
    width: 100%;
    height: auto;
}

.announcement-label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: lightgray;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
}

.announcement-box h2 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 10px 0 6px;
}

.announcement-box p {
    font-size: 14px;
    color: #000000;
    margin: 0;
}
.no-border {
    border: none !important;
    box-shadow: none !important;
}
@media (max-width: 1024px) {
    .new-column {
        flex: 1 1 100%;
    }
    .new-vertical-line {
        display: none;
    }

    .announcement-box {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    .new-header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .new-header h1 {
        font-size: 20px;
    }

    .new-header a {
        font-size: 13px;
    }
    .new-row {
        flex-direction: column;
    }

    .new-column {
        flex: 1 1 100%;
        padding: 5px;
    }

    .new-column h2 {
        font-size: 16px;
    }

    .new-column h3 {
        font-size: 14px;
    }

    .new-column p {
        font-size: 13px;
    }

    .new-column small {
        font-size: 11px;
    }

    .new-vertical-line {
        display: none;
    }

    .podcast-wrapper {
        gap: 8px;
        padding-bottom: 10px;
    }

    .podcast-card {
        min-width: 150px;
        padding: 8px;
    }

    .podcast-title {
        font-size: 0.85rem;
    }

    .podcast-description {
        font-size: 0.75rem;
    }

    .podcast-meta {
        font-size: 0.75rem;
    }

    .meta-icon {
        width: 24px;
        height: 24px;
        font-size: 0.9rem;
    }

    .scroll-button {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .announcement-row {
        flex-direction: column;
        gap: 15px;
    }

    .announcement-box {
        flex: 1 1 100%;
    }

    .announcement-box h2 {
        font-size: 14px;
    }

    .announcement-box p {
        font-size: 13px;
    }

    .announcement-label {
        font-size: 10px;
        padding: 2px 4px;
    }
}

/* ---bloc faha 21*/

.comic-container {
    position: relative;
}

.comic-container img {
    width: 100%;
    height: auto;
    display: block;
}

.comic-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
}

.comic-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.comic-button {
    background-color: #f0f0f0;
    border: none;
    padding: 6px 12px;
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.2s ease;
}

.comic-button:hover {
    background-color: #e0e0e0;
}

.comic-button .icon {
    font-size: 1.1em;
}
@media (max-width: 1024px) {
    .comic-title {
        font-size: 1.1em;
    }

    .comic-button {
        font-size: 0.85em;
        padding: 5px 10px;
    }

    .comic-button .icon {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .comic-overlay {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 0;
    }

    .comic-title {
        font-size: 1em;
        text-align: left;
    }

    .comic-button {
        width: 100%;
        justify-content: center;
        font-size: 0.85em;
        padding: 8px;
    }

    .comic-button .icon {
        font-size: 1em;
    }
}

/* --- bloc faha 22 --- */


.games-section {
    background-color: #333;
    color: #fff;
}

.games-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.games-title {
    font-size: 1.5em;
    color: darkred;
    background: #B8B8B8;
}

.games-link {
    color: #fff;
    text-decoration: underline;
}

.games-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.game-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9em;
}

.games-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px;
}

.games-subtitle {
    margin: 0;
}

.more-games-link {
    color: #fff;
    text-decoration: underline;
    font-size: 0.9em;
}

.games-carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.carousel-track {
    display: flex;
    gap: 20px;
    flex: 1;
    overflow-x: auto;
}

.carousel-item {
    text-align: center;
    min-width: 100px;
}

.carousel-arrow {
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.services-title {
    margin: 20px 0 10px;
}

.services-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 15px;
}

.service-heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-heading h4 {
    margin: 0;
}

.dashed {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: grey;
    letter-spacing: 4px;
    margin: 10px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.service-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-column li {
    margin-bottom: 5px;
}

.leisure-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.leisure-row h4 {
    margin: 0;
}

.leisure-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.leisure-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leisure-column li {
    margin-bottom: 5px;
}


.logo-footer-section {
    background-color: dimgrey;
    color: #fff;
    padding: 40px 20px;
    font-family: sans-serif;
}

.magazines-section {
    text-align: center;
    margin-bottom: 30px;
    background-color: black;
}

.magazines-title {
    margin-bottom: 20px;
}

.magazines-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
}

.magazine-item {
    text-align: center;
}

.magazine-item img {
    width: 120px;
    height: 160px;
    object-fit: cover;
}

/* Footer */
.footer-section {
    background-color: #333;
    padding: 30px 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
}

.footer-group p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-links p,
.footer-sub-links p,
.footer-legal p,
.footer-rights p {
    margin: 10px 0;
}

.footer-links p {
    font-size: 0.85em;
}

.footer-sub-links p {
    font-size: 0.9em;
}

.footer-space {
    margin: 20px 0;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.footer-social a img {
    width: 16px;
    height: 16px;
}



    @media (max-width: 1024px) {
        .services-grid,
        .leisure-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .services-row {
            grid-template-columns: repeat(2, 1fr);
        }

        .carousel-item {
            min-width: 80px;
        }

        .magazine-item img {
            width: 100px;
            height: 140px;
        }
    }


    @media (max-width: 768px) {
        .games-header,
        .games-subheader {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .games-icons {
            gap: 10px;
        }

        .games-carousel {
            flex-direction: column;
        }

        .services-grid,
        .leisure-grid {
            grid-template-columns: 1fr;
        }

        .services-row {
            grid-template-columns: 1fr;
        }

        .carousel-item {
            min-width: 70px;
        }

        .magazines-carousel {
            justify-content: flex-start;
        }

        .magazine-item img {
            width: 90px;
            height: 120px;
        }

        .footer-section {
            font-size: 0.8em;
            padding: 20px 10px;
        }

        .footer-links p,
        .footer-sub-links p {
            font-size: 0.8em;
        }

        .footer-social {
            flex-wrap: wrap;
            justify-content: center;
        }

        .footer-social a {
            margin: 5px;
        }
    }


    @media (max-width: 480px) {
        .games-title {
            font-size: 1.2em;
        }

        .carousel-item {
            min-width: 60px;
        }

        .magazine-item img {
            width: 80px;
            height: 100px;
        }

        .footer-group p {
            font-size: 1em;
        }

        .footer-social a img {
            width: 14px;
            height: 14px;
        }
    }
@media (max-width: 1024px) {
    .page-block {
        padding: 15px;
        margin: 20px auto;
        max-width: 90%;
    }
}


@media (max-width: 768px) {
    .page-block {
        padding: 12px;
        margin: 15px auto;
        max-width: 95%;
    }

    .space {
        height: 3px;
    }
}


@media (max-width: 480px) {
    .page-block {
        padding: 10px;
        margin: 10px auto;
        max-width: 100%;
    }

    .space {
        height: 2px;
    }
}
